<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">WishWish</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Accueil</a></li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<br/>
